<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo List - App Django</title>
  </head>
  <body>
    {% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <hr />
    <h1>My To Do List</h1>
    <a href="{% url 'task-create' %}">Add Task</a>
    <table>
      <tr>
        <th>Item</th>
        <th></th>
        <th></th>
      </tr>
      {% for task in tasks %}
      <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
      </tr>
      {% empty %}
      <h3>No items in list</h3>
      {% endfor %}
    </table>
  </body>
</html>
